
<div class="row">
	<div class="large-3 large-offset-3 columns">
		<ul class="company">
			<li class="company-name"><%= @company.name %></li>
			<li>
				<div class="large-3 small-offset-1 columns">
					<table class ="company-show-table">
						
						<tr>
							<td class="company-descriptor">Description</td>
							<td><%= @company.description %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Investment Date</td>
							<td><%= @company.investment_date %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Investment Type</td>
							<td><%= @company.investment_type %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Amount Invested</td>
							<td><%= number_to_currency(@company.amount_invested) %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Current % Ownership</td>
							<td><%= number_to_percentage(@company.pct_ownership, precision: 2) %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Shares Owned</td>
							<td><%= number_with_delimiter(@company.shares_bought) %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Initial Share Price</td>
							<td><%= number_to_currency(@company.init_share_price, precision: 2) %></td>
						</tr>
						<tr>
							<td class="company-descriptor">Initial Post-Money Valuation</td>
							<td><%= number_to_currency(@company.init_post_money, precision: 0) %></td>
						</tr>
					</table>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="large-3 large-offset-5 columns">
	<%= link_to "edit", edit_company_path, :class => "button" %>
	<%= link_to "Back", companies_index_path, :class => "button" %>
	<%= link_to "Add New Investment Round", new_investment_round_path(:company_id => @company.id) %>
<div class="large-3 large-offset-4 columns">