<div class="small-6 large-centered columns">
	<fieldset>
		<legend>Edit Investment Round</legend>

			<%= form_for @investment_round do |f| %>

			  <div><%= f.label :round_name %><br />
			  <%= f.text_area :round_name , placeholder: "Series A-1" %></div>

			  <div><%= f.label :investment_amount %><br />
			  <%= f.text_area :investment_amount %>
				</div>

			  <div><%= f.label :pre_money_valuation %><br />
				<%= f.text_area :pre_money_valuation %>

				<div><%= f.label "New Investors" %><br />
			  <%= f.text_field :investors %></div>

			  <div><%= f.label :invstment_date %><br />
			  <%= f.text_field :investment_date %></div>

			  <%= f.hidden_field :company_id, value: @company.id %>

			  <div><%= f.submit "Update Round" , :class => 'button' %></div>
			<% end %>
	</fieldset>
</div>