<div class="small-6 large-centered columns">
	<fieldset>
		<legend>New Investment Round</legend>

			<%= form_for @investment_round do |f| %>

			  <div><%= f.label :round_name %><br />
			  <%= f.text_area :round_name , placeholder: "Series A-1" %></div>

			  <div><%= f.label :investment_amount %><br />
			  <%= f.text_area :investment_amount , placeholder: "2000000" %>
				</div>

			  <div><%= f.label :pre_money_valuation %><br />
				<%= f.text_area :pre_money_valuation, placeholder: "100000" %>

				<div><%= f.label "New Investors" %><br />
			  <%= f.text_field :investors, placeholder: "DFJ, Kholsa Ventures" %></div>

			  <div><%= f.label :invstment_date %><br />
			  <%= f.text_field :investment_date, placeholder: "April 1, 2014" %></div>

			  <%= f.hidden_field :company_id, value: @company.id %>

			  <div><%= f.submit "Add New Round" , :class => 'button' %></div>
			<% end %>
	</fieldset>
</div>